.carousels {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.carousels-carouselCont {
    width: 85%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.carousels-carousel {
    width: 100%;
    height: 100%;
}

.carousels-title {
    width: max-content;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

.carousels-title::after {
    content: '';
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 30%;
    height: 3px;
    background-color: maroon;
}