.carouselItem {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: contain;
}

.carouselItem__imgCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carouselItem__img {
    animation: imageAnimation 0.5s forwards;
    object-fit: cover !important;
    height: 100% !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.react-parallax-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.carouselItemTextContainer {
    width: 85%;
    display: flex;
    align-items: center;
}

.carouselItem__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    z-index: 9 !important;
}

.carouselItem__title {
    margin: 10px 0px;
    font-size: 3.5rem;
    font-weight: 700 !important;
    line-height: 1.3;
}

.carouselItem__p {
    width: 60%;
    margin: 0px 0;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
}

.carouselItem__button {
    width: 120px;
    font-weight: 600;
    margin-top: 30px;
    background-color: transparent;
    height: 38px;
    padding: 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

.carouselItem__button:hover {
    background-color: #ce0306 !important;
    color: white !important;
    border-color: #ce0306 !important;
}


@media screen and (max-width: 850px) {
    .react-parallax-content {
        justify-content: center;
    }
    .carouselItem__text {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .carouselItem__title {
        font-size: 2.5rem;
    }

    .carouselItem__p {
        width: 80%;
        font-size: 1rem;
    }

    .carouselItem__button {
        width: 100px;
        font-size: .6rem;
    }

    .carouselItem__p {
        text-align: center;
    }

    .firstDiv__dots {
        width: 7%;
    }
    
}


@media screen and (max-width: 450px) {
    .carouselItem {
        align-items: center;
    }
    
    .carouselItem__title {
        width: 80%;
    }

    .carouselItem__p {
        width: 80%;
    }

    .carouselItem__title {
        font-size: 2.3rem;
    }

    .firstDiv__dots {
        width: 10%;
    }
}
